.table-container {
  height: 400px;
  overflow: inherit;
}

table {
  width: 100%;
}

.full-width {
  width: 100%
}

.half-width-padding {
  width: 45%;
  padding-right: 5%;
}

.colorRed {
  color: red;
}

.action-button {
  float: right;
}
